<%- include('partials/header') %>

  <!-- Page Content -->
  <div class="container container-main">

    <div class="row">

      <%- include('partials/leftMenu') %>


      <div class="col-lg-9">

        <div class="row">
          <% for(let figurine of figurines){ %>
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <a href="/article/<%= figurine.id %>">
                  <img class="card-img-top" src="./images/<%= figurine.visual_name %>.png" alt="<%= figurine.name%> figurine">
                  <div class="badge-category badge badge-pill badge-<%= figurine.category.toLowerCase() %>"><a href="/category/<%= figurine.category.toLowerCase() %>"></a><%= figurine.category %></div>
                </a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="/article/<%= figurine.id %>"><%= figurine.name %></a>
                  </h4>
                  <h5>$<%= figurine.price %></h5>
                  <p class="card-text"><%= figurine.description %></p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">
                      <% for( let startCount = 1; startCount <= 5; startCount++ ) { %>
                        <% if (startCount <= figurine.note ) { %>
                            &#9733; 
                        <% } else { %>
                            &#9734;
                        <% } %>
                      <% } %>
                  </small>
                  <a href="/cart/add/<%= figurine.id %>" class="link-add-cart">+ Ajouter au panier</a>
                </div>
              </div>
            </div>
          
          <% } %>



        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <%- include('partials/footer') %>